.index,
.user {
  background-image: url(images/background2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.doc,
.records,
.sign_in {
  background-image: url(images/background1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  height: 90vh;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.gradient-custom-4 {
  background: #84fab0;
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}
